1. There are  students in this class whose names and grades are assembled to build the following list: <br>
python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]] <br>
The lowest grade of  belongs to Tina. The second lowest grade of  belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [3]:
python_students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [35]:
students = []
    
for _ in range(int(input())):
    name = input()
    score = float(input())
    students.append([name, score])
    
students = [i for i in students if i[1] == sorted(set([j[1] for j in students]))[1]]
print("\n".join(sorted([i[0] for i in students])))

ValueError: invalid literal for int() with base 10: 'Tina'

In [34]:
student_name(python_students)

37.21
37.21
37.2
41
39

2. Sentence transformation

In [10]:
def transformSentence(sentence):
    alphabets = list(sentence)
    print(alphabets)

In [11]:
transformSentence("coOL dog")

['c', 'o', 'O', 'L', ' ', 'd', 'o', 'g']

In [42]:
string = "coOL dog"
a = string.split(" ")
b = list(a)
new_list = []
for i in b:
    c = list(i)
    new_list.append(c)
print(new_list)

[['c', 'o', 'O', 'L'], ['d', 'o', 'g']]

In [44]:
for i in new_list:
    for j in i:
        if j
        print(j)

c
o
O
L
d
o
g

In [39]:
def swap_case(word):
    return ''.join([character.lower() if character.isupper() else character.upper() for character in word])


def reverse_words_order_and_swap_cases(sentence):
    words = sentence.split(' ')[::-1]
    return ' '.join([swap_case(word) for word in words])

In [40]:
swap_case("coOL dog")

'COol DOG'