#### **Technical definition:** Lists are a collection of mutable objects. They are indexed by integers, starting from zero. Lists are represented by square brackets.

<table>
<tr>
<td>Methods</td>
<td>Description</td>
</tr>
<tr>
<td>list(s)</td>
<td>Returns a list of the sequence s.</td>
</tr> 
<tr>
<td>s.append(x)</td>
<td>Appends element x to the end of s.</td>
</tr>
<tr>
<td>s.extend(x)</td>
<td>Appends the list x to s.</td>
</tr>
<tr>
<td>s.isalpha()</td>
<td>Returns True if all characters are alphanumeric, returns False otherwise.</td>
</tr>
<tr>
<td>s.count(x)</td>
<td>Counts the occurrence of x in s.</td>
</tr>
</tr>
<tr>
<td>s.index(x, [start], [stop])</td>
<td>Returns the smallest index, i, where s[i] ==x. Can include optional start and stop index for the search.</td>
</tr>
</tr>
<tr>
<td>s.pop(i)</td>
<td>Returns the element i and removes it from the list.</td>
</tr>
</tr>
<tr>
<td>s.remove(x)</td>
<td>Removes x from s.</td>
</tr>
</tr>
<tr>
<td>s.reverse()</td>
<td>Reverses the order of s.</td>
</tr>  
</tr>
<tr>
<td>s.sort(key ,[reverse])</td>
<td>Sorts s with optional key and reverse.</td>
</tr>
</table>

In [1]:
example_list = [1,2,3]
print(example_list)

[1, 2, 3]

In [2]:
#Check the type of the list
type(example_list)

list

In [3]:
#Use len function to 
len(example_list)

3

In [4]:
#Slicing
example_list[0:2]

[1, 2]

Nested List: List inside a list.

In [5]:
#Nested list
nested_list_example = [1,2,3,[1,2,3]]

In [6]:
print(nested_list_example)

[1, 2, 3, [1, 2, 3]]

In [7]:
#If we access the third element of the list, we get another list.
print(nested_list_example[3])

[1, 2, 3]

In [8]:
#To access elements of the nested list, we can fetch the values from the index

print(nested_list_example[3][0])

1

Insert

In [9]:
#We inserted integer 1 in the position 2 i.e. between 2 and 3
example_list.insert(2,1)
print(example_list)

[1, 2, 1, 3]

Pop

In [10]:
#We removed the first object of the list i.e. 1 using index position 0
example_list.pop(0)

1

In [11]:
print(example_list)

[2, 1, 3]

In [12]:
#To remove/deleted the last object from the list, we can use -1, which means it will start indexing in the reverse order.
example_list.pop(-1)
print(example_list)

[2, 1]

Remove

In [13]:
#In this example list, you can see many different data types including int, string, float, boolean
example_list_2 = [1, 2, 3,'Roger', 3.14, True]
print(example_list_2)

[1, 2, 3, 'Roger', 3.14, True]

In [14]:
#We can remove an object from the list using method 'remove' based on the values. Here's an example, where we can to delete 'Roger' from the list.
example_list_2.remove('Roger')

In [15]:
print(example_list_2)

[1, 2, 3, 3.14, True]