In [ ]:
#!pip install pyspark

How to set up PySpark on Mac: https://sparkbyexamples.com/pyspark/how-to-install-pyspark-on-mac/

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySpark Introduction").\
                            config("spark.some.config.option", "some-value").\
                            config("spark.sql.debug.maxToStringFields", 1000).getOrCreate()

22/11/22 15:08:21 WARN Utils: Your hostname, Gagandeeps-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.228 instead (on interface en0)
22/11/22 15:08:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/22 15:08:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

#### Create a Dataframe

In [3]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

data2 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
 
df = spark.createDataFrame(data=data2,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [4]:
df.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     M|  4000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

### Check total number of rows and columns

In [20]:
import time

num_rows = df.count()
print(f'Total number of rows:', df.count())

num_columns = len(df.columns)
print(f'Total number of columns:', len(df.columns))

seconds = time.time()
local_time = time.ctime(seconds)
print("Local time:", local_time)

Total number of rows: 5
Total number of columns: 6
Local time: Tue Nov 22 15:13:08 2022

In [25]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now().strftime("%d/%m/%Y %H:%M:%S")
 
print(now)

22/11/2022 15:19:02

22/11/22 16:51:17 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 120970 ms exceeds timeout 120000 ms
22/11/22 16:51:17 WARN SparkContext: Killing executors is not supported by current scheduler.

In [7]:
import pandas as pd

df_time = pd.DataFrame(columns=['total_columns','total_rows','current_time'])

df_time

Empty DataFrame
Columns: [total_columns, total_rows, current_time]
Index: []

In [21]:
#df_time_2 = pd.DataFrame(columns=('total_columns', 'total_rows', 'current_time'))

new_row = pd.Series([num_columns, num_rows,local_time],index=df_time.columns)

df_time = df_time.append(new_row, ignore_index=True)

/var/folders/mz/z1pq672n1911ycwnmc8w4myw0000gn/T/ipykernel_62202/1485919004.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_time = df_time.append(new_row, ignore_index=True)

In [22]:
df_time

  total_columns total_rows              current_time
0             6          5  Tue Nov 22 15:11:43 2022
1             6          5  Tue Nov 22 15:12:57 2022
2             6          5  Tue Nov 22 15:13:08 2022

### Difference between two dataframes

In [ ]:
data3 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
 
df2 = spark.createDataFrame(data=data3,schema=schema)
df2.printSchema()
df2.show(truncate=False)

In [ ]:
df.show()

In [ ]:
df2.show()

In [ ]:
df_difference = df.subtract(df2)

df_difference.count()

In [ ]:
df_difference.show(5)

In [ ]:
df_final = df.join(df2,['firstname'],how= "leftanti")

### Filter

In [ ]:
df.filter(df.firstname=="Jen").show()

In [ ]:
df.filter(df.salary>2000).show()

In [ ]:
df.filter((df.salary>2000)&(df.salary<3500)).show()