In [2]:
import pandas as pd

In [3]:
cities = ['Warsaw','Krakow','Wroclaw','Poznan','Gdansk']
population = [1795569,782137,642687,529410,470621]

In [4]:
dict_population = {'Cities':cities,'Population':population}

df = pd.DataFrame.from_dict(dict_population)

In [5]:
df

    Cities  Population
0   Warsaw     1795569
1   Krakow      782137
2  Wroclaw      642687
3   Poznan      529410
4   Gdansk      470621