In [2]:
%load_ext sql

%sql postgresql://postgres:Speedy3861@localhost:5432/sql-cookbook

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%%sql

select deptno, 
        count(empno) total_employees, 
        max(sal) maximum_salary, 
        min(sal) minimum_salary,
        round(stddev(sal)) standard_deviation_salary,
        round(avg(sal)) average_salary
from employees
group by 1
order by 1;

 * postgresql://postgres:***@localhost:5432/sql-cookbook
3 rows affected.

[(10, 3, 5000, 1300, Decimal('1894'), Decimal('2917')),
 (20, 5, 3000, 800, Decimal('1123'), Decimal('2175')),
 (30, 6, 2850, 950, Decimal('668'), Decimal('1567'))]

#### Windows function OVER()

In [24]:
%%sql

select deptno, count(sal) over(partition by deptno) total_emp, max(sal) over(partition by deptno) as avg_sal

from employees

 * postgresql://postgres:***@localhost:5432/sql-cookbook
14 rows affected.

[(10, 3, 5000),
 (10, 3, 5000),
 (10, 3, 5000),
 (20, 5, 3000),
 (20, 5, 3000),
 (20, 5, 3000),
 (20, 5, 3000),
 (20, 5, 3000),
 (30, 6, 2850),
 (30, 6, 2850),
 (30, 6, 2850),
 (30, 6, 2850),
 (30, 6, 2850),
 (30, 6, 2850)]