In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/gagandeepkundi/data-engineering/projects/weather-etl-ml-project/data/02_intermediate/weather.csv')

df.head()

,name,region,country,lat,lon,tz_id,localtime_epoch,localtime,last_updated_epoch,last_updated,...,precip_in,humidity,cloud,feelslike_c,feelslike_f,vis_km,vis_miles,uv,gust_mph,gust_kph
0,Warsaw,NaN,Poland,52.25,21.0,Europe/Warsaw,1669990530,2022-12-02 15:15,1669989600,2022-12-02 15:00,...,0.0,80,100,-7.5,18.5,10.0,6.0,2.0,11.0,17.6
1,Warsaw,NaN,Poland,52.25,21.0,Europe/Warsaw,1669993743,2022-12-02 16:09,1669993200,2022-12-02 16:00,...,0.0,86,100,-7.5,18.5,10.0,6.0,1.0,11.9,19.1
2,Warsaw,NaN,Poland,52.25,21.0,Europe/Warsaw,1669990810,2022-12-02 15:20,1669990500,2022-12-02 15:15,...,0.0,80,100,-7.5,18.5,10.0,6.0,2.0,11.0,17.6
3,Warsaw,NaN,Poland,52.25,21.0,Europe/Warsaw,1669991764,2022-12-02 15:36,1669991400,2022-12-02 15:30,...,0.0,80,100,-7.5,18.5,10.0,6.0,2.0,11.0,17.6